.sidebar {
  height: 100vh;
  background: linear-gradient(180deg, #0f172a, #020617);
  color: #fff;
  padding: 20px;
}


.logo {
  text-align: center;
  margin-bottom: 20px;
}

.nav-item {
  padding: 10px;
  cursor: pointer;
  display: block;
  color: white;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #334155;
}

.sub-menu {
  margin-left: 15px;
}

.sub-item {
  display: block;
  padding: 8px;
  font-size: 14px;
  color: #cbd5e1;
  text-decoration: none;
}

.sub-item:hover {
  color: white;
}

.logout {
  margin-top: 20px;
  width: 100%;
  background: #dc2626;
  border: none;
}
